{% load staticfiles %}

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"><img src="{% static 'img/sq_logo_sm.jpg' %}"/></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Music</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Shows</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Vids</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pics</a></li>
        </ul>
    </div>
</div>
